<%= form_for messages_path, url: messages_path do |f| %>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <%= f.text_field  :name, required: true, class: "form-control", placeholder: "Votre nom" %><br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <%= f.text_field :email, required: true, class: "form-control", placeholder: "Votre email" %><br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <%= f.text_field :phone_number, required: true, class: "form-control", placeholder: "Votre numéro de téléphone" %><br>
    </div>
  </div>

  <%= f.text_area :message,
                  rows: 8,
                  cols: 40,
                  required: true,
                  class: "form-control",
                  placeholder: "Votre message"%><br>

  <%= f.submit 'Envoyer', class: 'btn btn-secondary' %>
<% end %>