<%= render 'jumbotron' %> 

<div class="content">
  <%= render 'therapy' %>
  <%= render 'consult' %>
  <%= render 'modalities' %>
  <%= render 'method' %>
  <%= render 'background' %>
  <%= render 'contact' %>
  <%= render 'map' %>
  <%= render 'layouts/footer'%>
</div>
