<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Psychothérapie Cachan - Hélène Levy-Borrel</title>
    <meta name="description" content="Hélène Levy-Borrel est psychopraticienne à Cachan. Elle vous accompagne dans votre psychothérapie pour aller vers un mieux-être, et une compréhension de soi et de ses difficultés.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
